{% extends 'appmusic/base.html' %}

{% block title_block %}About{% endblock %}

{% block body_block %}

<section class="container">
  <h2>About Page</h2>
  <p class="content-para">SoundSurf is an online music streaming website which allows you to curate your own music & listen to multiple songs for free. SoundSurf is a Full Stack website developed by Naman Joshi using Django web framework.</p>
  <p class="content-para">Thanks for visiting soundsurf. If you want to know more or if you are someone who wants a personal website / portfolio for yourself or your company, or have any queries regarding the same, feel free to mail me at: <strong>therulingstar@gmail.com</strong></p>
</section>

{% endblock %}
