<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title_block %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'icons/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Barlow+Condensed|Lato:100,300,300i,400&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="wrapper">
    <header>
      <nav>
        <div class="container clearfix">
          <ul class="main-nav js--main-nav">
            <li><a href="{% url 'index' %}">SoundSurf</a></li>
            <li><a href="{% url 'all_albums_songs' 'albums' %}">Albums</a></li>
            <li><a href="{% url 'all_albums_songs' 'songs' %}">Songs</a></li>
            <li><a href="{% url 'about' %}">About</a></li>

            {% if request.user.is_authenticated %}
              <li><a href="{% url 'album_create' %}">Add Album</a></li>

              <div class="nav-right">
                <li><p style="color:#e1e3f2">
                  <i class="ion-android-person"></i>{{ user.username }}</p>
                </li>

                <li><a href="{% url 'logout' %}">Logout</a></li>
              </div>

            {% else %}
              <div class="nav-right">
                <li><a href="{% url 'login' %}"><i class="ion-android-unlock"></i>Login</a></li>
              </div>
            {% endif %}
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon-round"></i></a>
        </div>
      </nav>
    </header>

    {% block body_block %}

    {% endblock %}
    <div class="push"></div>
    </div>

    <footer>
      <div class="container clearfix">
          <ul class="footer-nav clearfix">
            <li><a href="#">About us</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Android App</a></li>
          </ul>


          <ul class="social-links clearfix">
            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
            <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          </ul>
      </div>

      <div class="container">
        <p>Copyright &copy; 2020 by SoundSurf. All rights reserved.</p>
      </div>
    </footer>


  </body>
</html>
