{% extends 'appmusic/base.html' %}

{% block title_block %}AlbumCreate{% endblock %}

{% block body_block %}

  <section class="section-form container">
    <h2>Create New Album</h2>
      <form class="contact-form panel" enctype="multipart/form-data" method="POST">
        {% csrf_token %}

        {% include 'appmusic/form_template.html' %}

        <div class="row">
          <div class="col-sm-4">
            <label>&nbsp</label>
          </div>
          <div class="col-sm-8">
            <input type="submit" value="Submit">
          </div>
        </div>
      </form>
  </section>

{% endblock %}
