{% extends 'appmusic/base.html' %}
{% block title_block %}SoundSurf{% endblock %}

{% block body_block %}

  <!--Heder Section -->
  <div class="background">
    <div class="header-text">
      <h1>Soundsurf</h1>
      <p style="margin-bottom: 15px; letter-spacing:4px;">Where Music meets the ocean</p>
      <form action="{% url 'index' %}" method="GET">
        <input type="text" name="q" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %} placeholder="Search">
        <input type="submit" class="btn-light" value="Submit">
      </form>

      <a href="#" class="btn btn-light" style="margin-right: 2px;">More</a>
      <a href="#" class="btn btn-light">Sign Up</a>
    </div>
  </div>

  <!-- Top Albums Section -->
  {% if albums %}
  <section>
    <div class="container clearfix">
      {% if is_search %}<h2 style="text-align:center">Albums Found</h2> {% endif %}

      {% for album in albums %}
      <div class="card">
        <img src="{{ album.cover_pic.url }}"style="width:100%; height:60%;" alt="Album Cover">
        <div class="card-text">
          <h4>{{ album.album_name }}</h4>
          <p>{{ album.album_artist }}</p>
          <a href="{% url 'album_detail' album_id=album.pk %}" class="btn btn-primary">Details</a>
          {% if request.user == album.author %}
            <a href="{% url 'album_delete' album_id=album.pk %}" class="btn btn-dark"><i class="ion-ios-trash"></i></a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endif %}


  {% if not is_search %}

    <section class="section-2 clearfix">
      <div class="partation area-1">
        <!-- <p class="content-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
      </div>
      <div class="partation area-2">
        <h2>About</h2>
        <p class="content-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        <ul>
          <li>How to win friends and influence people</li>
          <li>How to win friends and influence people</li>
          <li>How to win friends and influence people</li>
          <li>How to win friends and influence people</li>
          <li>How to win friends and influence people</li>
        </ul>
      </div>
    </section>

    {% endif %}

    <!-- Top Songs Section -->
      {% if songs_list %}
      <section class="section-table" style="background-color: #f7f7f7;">
        <div class="container">
          <h2 style="text-align:center">{% if is_search %}Songs Found{% else %}Top Songs{% endif %}</h2>
          <table>
            <thead>
              <tr>
                <th>Song Title</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Song</th>
              </tr>
            </thead>
            <tbody>
              {% for song_obj in songs_list %}
                <tr>
                  <td>{{ song_obj.song_title }}</td>
                  <td>{{ song_obj.album.album_artist }}</td>
                  <td>
                    <a href="#"><img src="{{ song_obj.album.cover_pic.url }}" style="width: 20px; max-height: 15px; margin-right: 5px;" /></a>
                    <a href="{% url 'album_detail' album_id=song_obj.album.pk %}">{{ song_obj.album.album_name }}</a>
                  </td>
                  <td><a href="{{ song_obj.song.url }}" class="btn btn-success">Play</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
      {% endif %}

    {% if not is_search %}

    <section class="section-4 container">
      <p class="content-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="content-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="content-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
  {% endif %}
{% endblock %}
