{% extends 'appmusic/base.html' %}
{% load static %}
{% block title_block %}SoundSurf{% endblock %}

{% block body_block %}

  <!--Heder Section -->
  <div class="background">
    <div class="header-text">
      <h1>Soundsurf</h1>
      <p>Where Music meets the ocean</p>
      <form action="{% url 'index' %}" method="GET">
        <input type="text" name="q" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %} placeholder="Search">
        <input type="submit" class="btn-light" value="Submit">
      </form>

      <a class="btn btn-light js-scroll-to-songs">Explore</a>
      <a class="btn btn-light js-scroll-to-about">More</a>
    </div>
  </div>

  <!-- Top Albums Section -->
  {% if albums %}

    <section class="js--section-albums">
      <div class="container clearfix">
        {% if is_search %}<h2>Albums Found</h2> {% endif %}
        {% include 'appmusic/all_albums_template.html' %}
      </div>
        {% if not is_search %}<div style="text-align:center"><a href="{% url 'all_albums_songs' 'albums' %}" class="btn btn-dark more-albums-btn">More Albums</a></div>{% endif %}
    </section>
  {% endif %}

  {% if songs_list %}

  <!-- Top Songs Section -->
    <section class="section-table js--section-songs" style="background-color: #f7f7f7;">
      <div class="container">
        <h2>{% if is_search %}Songs Found{% else %}Top Songs{% endif %}</h2>
        <table>
          <thead>
            <tr>
              <th>Song Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Song</th>
            </tr>
          </thead>
          <tbody>
            {% for song_obj in songs_list %}
              <tr>
                <td>{{ song_obj.song_title }}</td>
                <td>{{ song_obj.album.album_artist }}</td>
                <td>
                  <a href="#"><img class="album-song-pic" src="{{ song_obj.album.cover_pic.url }}" /></a>
                  <a href="{% url 'album_detail' album_slug=song_obj.album.slug %}">{{ song_obj.album.album_name }}</a>
                </td>
                <td><a href="{{ song_obj.song.url }}" class="btn btn-success"><i class="ion-play"></i></a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% if not is_search %}<div style="text-align:center"><a href="{% url 'all_albums_songs' 'songs' %}" class="btn btn-dark more-albums-btn">More Songs</a></div>{% endif %}
    </section>
  {% endif %}


  {% if not is_search %}

    <section class="section-about clearfix">
      <div class="partation area-1">
        <div class="join-site">
          <h2>About</h2>
          <p class="content-para">
            SoundSurf is an online music streaming website which allows you to curate your own music & listen to multiple songs for free.
            SoundSurf is a Full Stack, responsive website developed by Naman Joshi using Django web framework. Thanks for visiting.
          </p>
          <div class="work-steps">
            <div>1</div>
            <p>Get access to every new song released and top chart albums</p>
          </div>
          <div class="work-steps">
            <div>2</div>
            <p>Stream unlimited music for free & follow your favourite artists</p>
          </div>
          <div class="work-steps">
            <div>3</div>
            <p>Sign up to create your own albums, add curate your own music</p>
          </div>
        </div>
      </div>

      <div class="partation area-2">
        <div class="join-site">
          <blockquote>
            I really love listening to SoundSurf, it has always the best collection of music & its awsm how I can regulate music according to my own taste.
          </blockquote>
          <cite><img src="{% static 'css/pics/evans.jpg' %}" alt="Steve Rogers">Steve Rogers - Captain America</cite>

          <blockquote>
            Whenever cruising in my batmobile, I always tune music from soundsurf. Thanks for this incridible site, can't believe music can be this cool
          </blockquote>
          <cite><img src="{% static 'css/pics/bale.jpg' %}" alt="Bruce Wayne">Bruce Wayne - Chairman, Wayne Enterprises</cite>

          <a href="{% url 'register' %}" class="btn btn-light">Sign Up</a>
        </div>
      </div>

    </section>

    <section class="section-4 container">
      <p class="content-para">The website uses python 3.7 version, is compleatly responsive and is compatible to multiple browsers. During the development phase, the user interface was designed by me saperately from scratch (giving top priority to the user experiance) and was then integrated with the backend functionality in the templates. It also implements bootstrap-grid and jquery for effects and responsiveness.</p>
      <p class="content-para">Thanks for visiting soundsurf. If you want to know more or if you are someone who wants a personal website / portfolio for yourself or your company, or have any queries regarding the same, feel free to mail me at: <strong>therulingstar@gmail.com</strong></p>
    </section>
  {% endif %}

{% endblock %}
