*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

section{
  padding: 60px 0;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
}


/******Headings******/
h2,
h3{
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1{
  font-size: 240%;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  margin: 0 0 1em 0;
  text-align: center;
}

h3{
  font-size: 150%;
  word-spacing: 2px;
}

.content-para{
  margin-bottom: 2em;
  line-height: 1.4;
  letter-spacing: 1.5px;
  text-align: justify;
}

/******Header Section******/
.background{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)),url(pics/music.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header-text{
  position: absolute;
  width: 1120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.header-text p{
  margin-bottom: 15px;
  letter-spacing:4px;
}

.header-text a:first-of-type{
  margin-right: 10px;
}

.header-text h1{
  color: #fff;
}

.album-song-pic{
  width: 20px;
  max-height: 15px;
  margin-right: 5px;
}

/*****Main Navbar*****/
nav{
  background: #202020;
}

.main-nav i{
  margin-left: 5px;
}

.nav-right{
  float: right;
}

.main-nav ul{
  list-style: none;
}

.main-nav li{
  display: inline-block;
}


.main-nav li a:link,
.main-nav li a:visited{
  text-decoration: none;
  color: #c4c8c5;
  font-size: 1em;
  display: block;
  padding: .9em .6em;
  transition: all .3s;
}

.main-nav li a:hover,
.main-nav li a:active{
  color: #fff;
}

#logo{
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  float: left;
  margin: 0 1em 0 0;
  padding: .4em;
}

.nav-left{
  float: left;
}

.nav-right{
  float: right;
}

/*******Sticky Navigation********/
.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.96);
  box-shadow: 0 2px 2px #555;
  z-index: 9999;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{

}

.sticky .main-nav li a:hover,
.sticky .main-nav li a:active{

}

/******Mobile Navigation******/
.mobile-nav-icon{
  float: right;
  cursor: pointer;
  display: none;
  margin:.7em .7em 0 0;
}

.mobile-nav-icon i{
  font-size: 200%;
  color: #fff;
}

/*****INPUT TYPES*****/
input[type=text],
input[type=email],
input[type=password]{
  font-size: 18px;
  font-weight: 300;
  color: #606060;
  padding: .4em;
  outline: none;
  margin-bottom: 15px;
}

input[type=file]{
  font-size: 20px;
  font-weight: 300;
  color: #606060;
  margin-bottom: 15px;
  width: 90%;
}

.header-text input[type=text]{
  border-color: transparent;
  border-radius: 10px;
  width: 25%;
}

.header-text input[type=submit]{
  display: inline-block;
  font-size: .8em;
  padding: .5em;
  border-radius: .4em;
  border-color: #fff;
  cursor: pointer;
  outline: 0;
  transition: background-color .3s;
}


/*****Buttons*****/
.btn{
  display: inline-block;
  text-decoration: none;
  padding: 0.35em 0.7em;
  border-radius: .5em;
  transition: background-color .3s;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: .5em;
  font-weight: 300;
  margin-top: 5px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
  border-radius: .5em;
}

.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus, .btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-dark {
  color: #fff;
  background-color: #333;
  border-color: #333;
}

.btn-dark:hover {
  color: #fff;
  background-color: #222;
  border-color: #222;
}

.more-albums-btn{
  margin-top: 2em;
  padding: .5em 1em;
  border-radius: 1em;
}

.btn-light{
  background-color: #f6f6f6;
  color: #000;
  border-radius: 1em;
  padding: .5em 1em;
  cursor: pointer;
}

.btn-light:hover,
.btn-light:active{
  background-color: #fff;
}




/*****Cards*****/
.card{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6);
  background: #f1f1f1;
  float: left;
  height: 280px;
  width: 20%;
  margin: 1em 2.5%;
  border-radius: 4%;
}

.card img{
  width: 100%;
  height: 60%;
  border-radius: 4%;
}

.card-text{
  margin: 0 10px;
  height: 40%;
}

.card-big{
  background: #f9f9f9;
  float: left;
  width: 30%;
}

.card-big img{
  height: 100%;
  width: 100%;
}

.card-big .card-text{
  padding: 5px;
}

.songs-content{
  float: right;
  width: 70%;
  padding: 0 50px;
  min-height: 40vh;
}

.my-albums{
  min-height: 80vh;
}

/******Section About******/
.section-about{
  padding: 0;
}

.partation{
  height: 90vh;
  width: 50%;
  float: left;
}

.area-1{
  background-color: #111415;
  color: #fff;
  position: relative;
}

.work-steps{
  margin-bottom: 40px;
}

.work-steps:last-of-type{
  margin-bottom: 60px;
}

.work-steps div{
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  text-align: center;
  padding: 5px;
  float: left;
  font-size: 150%;
  margin-right: 20px;
}

.area-2{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(pics/stage_show.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
}

.join-site{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em 2em;
}


blockquote{
  padding: 1%;
  text-align: justify;
  font-style: italic;
  line-height: 145%;
}

cite{
  font-size: 90%;
  display: block;
  margin-left: 1em;
  margin-bottom: 2em;
}

blockquote::before{
  content: "\201C";
  font-size: 300%;
  display: block;
}

cite img{
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}


/******Table******/
table{
  width: 100%;
  margin: 0 auto;
}

td, th{
  text-align: left;
  padding: 10px;
}

td a{
  color: #000;
  text-decoration: none;
}

td{
  border-top: 1px solid #f1f1f1;
}

.detail-table{
  width: 100%;
  margin: 0;
}


/******Login & Signup Forms******/

.section-form{
  min-height: 80vh;
}

.contact-form{
  width: 100%;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form input[type=password],
.contact-form textarea{
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  width: 90%;
}

.contact-form input[type=submit]{
  display: block;
  background-color: #2e2e2e;
  padding: 8px 20px;
  color: #fff;
  border: 2px solid #2e2e2e;
  border-radius: 20px;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  transition: background-color .3s;
}

.contact-form input[type=submit]:hover,
.contact-form input[type=submit]:active{
  background-color: #262626;
}


/******Footer*******/
footer{
  background-color: #333;
  padding: 30px;
  font-size: 80%;
}

.wrapper{
  min-height: 100%;
  margin: 0 auto -30px;
}

.push{
  padding: 30px;
}

.footer-nav{
  list-style: none;
  float: left;
}

.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display: inline-block;
  margin-right: 15px;
}

.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border: 0;
  color:#888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active{
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 150%;
}

footer p{
  color: #888;
  text-align: center;
  font-size: 90%;
  margin-top: 40px;
  clear: both;
}


/*****Initial Settings*****/

.panel{
  max-width: 50%;
  padding: 20px;
  background-color: #EDEDED;
  border-radius: 20px;
}

.error-msg{
  font-size: .9em;
  margin-bottom: 1em;
  color: red;
}

.errormsg{
  color: red;
}

.errorlist{
  font-size: 16px;
  color: red;
  margin-bottom: 1em;
  line-height: 1;
}

.errorlist li{
  list-style-type: none;
}
